
/*------------------------------------*\
    Global Settings
\*------------------------------------*/

html, body {
border:0;
margin:0;
padding:0;
background: #fff;
}

body {
font:100%/1.25 'proxima nova', 'proxima-nova', arial, helvetica, sans-serif;
padding-bottom: 50px;
overflow-x: hidden;

}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/***** Common Formatting *****/

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}

h1 {
padding:30px 0 25px 0;
font:2em 'proxima nova', 'proxima-nova', arial, helvetica, sans-serif;
}

h2 {
padding:20px 0;
font:1.5em 'proxima nova', 'proxima-nova', arial, helvetica, sans-serif;
}

h3 {
font:1em 'proxima nova', 'proxima-nova', arial, helvetica, sans-serif;
font-weight:bold;
}

p, ul, ol {
margin:0;
padding:0 0 18px 0;
}

ul, ol {
list-style:none;
padding:0 0 18px 40px;
}


small {
font-size:0.85em;
}

img {
border:0;
}

.clear 			{ clear:both; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.text_right, .textright {text-align: right}
.text_center, .textcenter {text-align: center}


/***** Links *****/

a, a:visited {
text-decoration:none;
color: #5f3c97;
}


/*------------------------------------*\
    CORE COLOR PALLET
\*------------------------------------*/

.darkpurple {background: #210f3d;}
.medpurple {background: #5f3c97;}
.lightgrey {background: #efeeee;}
.blocked {background: #fff; border: 1px solid #cfcece;}


/*------------------------------------*\
    CORE LAYOUT ITEMS
\*------------------------------------*/

.row.features,
.row.extrapad {
	padding: 20px;
}

.medium-8.blocked {
	width: 65%;
}

@media screen and (max-width: 768px) {
				.medium-8.blocked {
					width: 100%;
					}
}


.button,
.button:visited {
	color: #fff;
	background: #5f3c97;
	color: #fff;
		margin: 20px 0;
		padding: 15px 10px;
		border-bottom: 1px solid #160943;
		background: #4b3183; /* Old browsers */
		background: -moz-linear-gradient(left, #4b3183 0%, #6c51a7 50%, #4b3183 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4b3183), color-stop(50%,#6c51a7), color-stop(100%,#4b3183)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* IE10+ */
		background: linear-gradient(to right, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b3183', endColorstr='#4b3183',GradientType=1 ); /* IE6-9 */
	border: 0px none;
	border-top: 1px solid #321f67; 
	border-bottom: 1px solid #8460be; 
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px;
	line-height: 22px;
	font-family: 'proxima nova', 'proxima-nova', arial, helvetica, sans-serif;
	text-shadow: 1px 2px 1px #321f67;
	box-shadow: 0px 18px 30px -6px #ccc
}

.button:hover, .button:focus {background: #210f3d;}

.button.button-wide {display: block; width: 100%;}

.button.button-secondary {	background: #5e5f5f;}
.button.button-secondary:hover {	background: #333}


h3.ruled {
	width: 100%;
	text-align: center;
	border-bottom: 5px solid #000;
	height: 10px;
	margin-bottom: 40px;
}

	h3.ruled span {
		background: #fff; 
		display: inline-block;
		height: 20px;
		padding: 0 20px;
		margin-top: -5px;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		}

h1.titlebar {
		color: #fff;
		margin: 20px 0 0;
		padding: 15px 10px;
		font-size: 25px;
		border-bottom: 1px solid #160943;
		background: #4b3183; /* Old browsers */
		background: -moz-linear-gradient(left, #4b3183 0%, #6c51a7 50%, #4b3183 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4b3183), color-stop(50%,#6c51a7), color-stop(100%,#4b3183)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* IE10+ */
		background: linear-gradient(to right, #4b3183 0%,#6c51a7 50%,#4b3183 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b3183', endColorstr='#4b3183',GradientType=1 ); /* IE6-9 */
		}
		
		h1.titlebar.first {
		margin: 0 0 0px;
		}

.step_number {
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	padding: 10px 18px;
	border-radius: 50%;
}

.step_number i.fa {margin-left: -5px;}

.buy-path-price {
	float: right;
	padding: 12px 10px;
}


@media screen and (max-width: 520px) {
	h1.titlebar {font-size: 18px}
}

/* Core form stuff */


label span.textright {float: right;}

input[type="checkbox"]+label, input[type="radio"]+label  {vertical-align: text-top;}


/*------------------------------------*\
    HEADER
\*------------------------------------*/

header {
	background: #210f3d;
	padding: 20px;
}

header p, header p a, header p a:visited {
		color: #fff;
		margin: 10px 0 0 0;
		padding: 0;
		line-height: 1em;
		font-size: 14px;}



/*------------------------------------*\
    Step 1 Specific items
\*------------------------------------*/


.shaddowed {
		background-image: url(images/titleshadow.png); 
		background-position: center top; 
		background-repeat: no-repeat;
		padding-top: 25px;
		}

.premium_options .columns {padding-top: 30px; margin-top: 20px; margin-bottom: 40px;}

.premium_options .columns.first {border-right:1px solid #ccc;}

.premium_options .columns {text-align: center;}

.premium_options h2,
.free_options h2 {font-size: 30px;}



.premium_options .columns img.appicon {width: 70%;}
img.appicon.smallicon {max-width: 50%; margin: 25px auto;}

.premium_options .price {
	position: relative;
	display: block;
	margin: 10px 0 25px;
}

.premium_options .price:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.premium_options .price p {
	font-weight: bold;
	color: #361f67;
	font-size: 40px;
	display: block;
	line-height: 10px;
	margin: 10px 0 0;
	float: left;
	text-align: right;
	padding-right: 8px;
	width: 60%;
}

.premium_options .price span {
	font-size: 13px;
	line-height: 13px;
	color: #87848e;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	float: left;
	text-align: left;
}

.premium_options .price span img {position: absolute; top: -15px;}


@media screen and (max-width: 768px) {
			.premium_options .price p, .premium_options .price span {width: 100%; text-align: center; float: none;}
			.premium_options .price span img {position: relative; top: 0px;}
}

.features .columns {padding-bottom: 15px; margin-bottom: 20px;}

.premiumfeatures {
	text-align: center;
}

.premiumfeatures li {font-size: 14px; color: #353535}
.premiumfeatures li strong {font-size: 18px;}


.premiumfeatures img {margin-bottom: 15px;}


.toggle {cursor: pointer}

.toggle:after {content: ' \f0d7'; font-family: 'fontawesome'; font-size: 120%;}

.featureset {
	padding: 10px 20px 0 30px;
}

.featureset li {
    text-align: left;
    font-size: 13px;
    line-height: 24px;
    display: block;
    padding-bottom: 10px;
    padding: 0 10px 10px 25px;
}
.featureset li.check {
    background: url(images/li_check.png) 0px 3px no-repeat
}
.featureset li.star {
    background: url(images/li_star.png) 0px 3px  no-repeat
}


.featuredbutton {
	position: relative;
	top: -40px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding: 0;
}

.featuresTab2 {
  border-radius: 0 0 3px 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(152,152,152) 0%, rgb(126,126,126) 65%, rgb(99,99,99) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(152,152,152) 0%, rgb(126,126,126) 65%, rgb(99,99,99) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(152,152,152) 0%, rgb(126,126,126) 65%, rgb(99,99,99) 100%);
  width: 90%;
  margin: 0 auto;
  text-align: center;
padding: 10px;
  display: block;
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
}





.free_options {
		padding-top: 44px;
		margin-top: 20px;
		margin-bottom: 50px;
		text-align: center;}
		
.free_options img.appicon {width: 70%;}


.freefeatures {
	padding-top: 20px;
	text-align: center;
	margin: 0;
}

.freefeatures ul {
	text-align: center;
	margin: 15px 0 22px;
	padding: 0;
}

.freefeatures li {
	font-size: 15px;
	padding-bottom: 7px;
	font-size: 14px; color: #353535}
	







/* Promotion Section */
.yellowfade {
	padding: 0px;
background: #dec389; /* Old browsers */
background: -moz-linear-gradient(top, #dec389 3%, #feeecd 14%, #f6f5f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#dec389), color-stop(14%,#feeecd), color-stop(100%,#f6f5f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dec389 3%,#feeecd 14%,#f6f5f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dec389 3%,#feeecd 14%,#f6f5f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dec389 3%,#feeecd 14%,#f6f5f2 100%); /* IE10+ */
background: linear-gradient(to bottom, #dec389 3%,#feeecd 14%,#f6f5f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dec389', endColorstr='#f6f5f2',GradientType=0 ); /* IE6-9 */
}

.yellowfade .titlebar {margin: 0px;}


.promobar {
	background: #e2e2e2;
	width: 100%;
	margin: 0 0 20px;
	padding: 15px 0 15px 80px;
	font-weight: bold;
}


.promobar.x3pure {
		background: #efbf2c;
		border: 1px solid #fff;
		border-left: 0px;
		border-right: 0px;
		color: #fff;}


.puredetails h4 {
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 0;
	padding: 0;
	font-size: 16px;
	color: #343434;
}

.puredetails h2 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 44px;
	padding: 0px;
	margin: 4px 0 10px;
	color: #f3b224
}


.puredetails p {
	font-weight: 100;
	font-size: 15px;
	line-height: 22px;
	margin: 0;
}
.purechoiceheadline {
	border-bottom: 1px solid #ebb417;
	padding: 20px 0;
	text-align: center;
}





	
.promobar.x3groups {
		background: #0ebab9;
		border: #028282;
		color: #fff;}

.promobar.openbook {
		background: #d64326;
		border: #aa1e02;
		color: #fff;}

.pricing .row {
	padding: 0 40px;
	margin: 0;}





.pricingmodal {
	text-align: center;
	min-height: 250px;
	padding:px;
	padding-bottom: 0px;
}

.pricingmodal a img {width: 80%; margin: 0 auto;}

.pricingmodal a:hover {cursor: pointer;}

.pricingmodal h2 {
	font-size: 22px; 
	font-weight: bold; 
	color: #fff; 
	margin-bottom: 8px;
	border-bottom: 2px solid #d9d8d8;
	border-radius: 2px;}
	
.pricingmodal p {
		font-size: 14px; 
		font-weight: 100;
		color: #444; 
		text-align: center; 
		margin: 0px; 
		padding: 0 0 15px;}

.pricingcontent {
	text-align: center;
}


h3.pricing {
	display: inline-block;
	font-size: 27px;
	font-weight: 100;
	color: #494949;
	margin-bottom: 20px;
	margin-top: 20px;
	vertical-align: middle;
	text-align: center;
	height: 50px;
	}
	
h3.pricing.withbadge {
		margin-top: 0px;
		margin-top: 0px;
		padding-bottom: 20px;
		}
	
.pricingmodal a.learnmore {
		padding: 10px;
		display: block;
		}

/* remodal */		
.remodal p,h1{
	text-align: left;
	
}

.remodal .text{
	margin-top: -35px;
}
		
		
.puremodal {
	padding: 0;
	width: 800px !important;
	max-width: 800px !important;
	box-shadow: none;
	overflow: hidden;
}

.puremodal.guys {
	background: url(images/modalleft_guys.png) no-repeat left top;
	background-color: #fcf3da;
	background-size: 40%;
	height: 680px;
}

.puremodal.girls {
	background: url(images/modalleft_girls.png) no-repeat left top;
	background-color: #fcf3da;
	background-size: 40%;
	height: 720px;
}

.puremodal.couples {
	background: url(images/modalleft_couples.png) no-repeat left top;
	background-color: #fcf3da;
	background-size: 40%;
	height: 680px;
}

.puremodal.parents {
	background: url(images/modalleft_parents.png) no-repeat left top;
	background-color: #fcf3da;
	background-size: 40%;
	height: 680px;
}
		
.puremodaltext {
	margin: 0px 0px 0px 315px !important;
	padding: 30px;
	background: #fff;
	height: 100%;;
	text-align: left;
}
.puremodal h1 {
	font-size: 36px;
	color: #2f2f2f;
	padding: 80px 0 0;
}

.puremodal h3 {
	font-size: 24px;
	padding: 0 0 15px;
	font-weight: normal;
	}
	
.puremodal h4 {
	color:#ebb417; 
	margin-bottom: 10px;
	font-size: 14px; 
	font-weight: bold;
	text-transform: uppercase;
}

.puremodal p {
	font-size: 14px;
	line-height: 18px;
	font-weight: 100;
}

.puremodal .checked,
.puremodal .checked li {
		margin: 0; padding: 0 3px 0 0;
		font-style: italic;
		font-weight: bold;
		font-size: 14px;
		}

.puremodal .checked li {margin-bottom: 5px;}

.puremodal .checked i {color: #ebb417}


.puremodaltext button {
	margin: 45px  0  !important;
	width: 150px;}

/* 
	-------------------------
		  MEDIA QUERIES 
	-------------------------
*/
@media screen and (max-width: 40em){
	.promobar{
	padding: 15px 0 15px 0;
	text-align: center;
	}
	h3.pricing{
	margin-bottom: 15px;
	}
	label{
	width: 70%;
	}
	.top-form{
	padding-bottom: 40px;
	}
	.puremodal{
	width: 100% !important;
	}
	.puremodaltext{
	margin: 0 !important;
	}
	.pricingmodal a img{
	width: 40%;
	}
}
